*{
    margin:0px;
    padding:0px;
}
html,body, .App{
    height:100%
}
body{
    position:fixed;
}


.heading{
  
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:80%;
  margin: auto;

  margin-top:55px;
  margin-bottom: 15px;

}

.logo-div{
    position: relative;
    width:fit-content;
}
.logo-img{
    width:83px;
    height:83px;
    border-radius: 50%;
    position:absolute;
    right: -82px;
    bottom: -10px;

}
.logo-text{
  font-size: 45px;
  font-weight: bold;
  text-shadow: -2.5px -2.5px rgb(116, 114, 114);
}

.image-con{
    width:22px;
    height:22px;
    border-radius: 50%;
    border: 4px solid rgb(241, 237, 237)
}

.image-con > img{
   
    width:inherit;
    height:inherit;
    border-radius: 50%;
}

.txt-imp{
   outline: none;
   border:none; 
   color:transparent;
   background-color: transparent;
   position:absolute;
   
}
#typing-text{
    font-size: 23px;
    width: 70%;
    padding:6px;
    word-break: break-all;
    line-height: 33px;
    font-weight:500;
    word-spacing: 2.5px;
    font-family:monospace;
    margin:auto;
}
#tying-text >.plain{
    padding:0px;
}

.correct{
    color:green;
}
.incorrect{
    color:rgb(146, 30, 30);
    background-color: rgba(176, 117, 127,0.5);
}

.temCursor{
    border-left: 3px solid rgba(185, 4, 245,1);
    animation: blink 0.5s linear 0s infinite alternate;
}
.cursol{
    border-right: 3px solid rgba(185, 4, 245,1);
    animation: blink 0.3s linear 0s infinite alternate;
  }
  @keyframes blink{
    from{
        border-right: 3px solid rgba(185, 4, 245,0);
    }
    to{
        border-right: 3px solid rgba(185, 4, 245,1);
    }
  }

.timer-con{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items: center;
    width:80%;
    height:33px;
    margin: auto;
}

.time-left{
    width:80px;
    height:25px;
    display:flex;
    justify-content:center;
}

.reset-button-container{
    margin:auto;
    margin-top:20px;
    width:70%;
    display:flex;
    justify-content:center;
    align-items: center;
    
}

.reset-button-container > button{
    padding:7px 10px;
    margin-inline:8px;
    border:none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    
}
.start-typing{
    width:88px;
    height:24px;
    margin-inline:8px;
    border:none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
}
.sec-button{

    height:22px;
    padding:3px 5px;
    margin-inline:8px;
    border:none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
}
#sec-btn{
    height:22px;
    padding:4px 7px;
    margin-inline:8px;
    border:none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
}

.theme-container{
    
    display:flex;
    justify-content: end;
    padding-right: 130px;
    position:fixed;
    bottom:25px;
    left:0;
    right:0
    
}
.select-box, .select-box >option{
    width:92px;
    height:30px;
    margin-inline:8px;
    border:none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
}
.select-box >option{
    padding:3px 5px;
}






/* css for theme sky blue */
.plain{
    color:azure;
}

.button1{
    background-color: rgb(89, 140, 235);
    color:azure;
}

.button1:hover{
    background-color: rgb(17, 92, 233);
    cursor: pointer;
}


/* css for theme dark nite */
.plainBlack{
    color:rgb(177, 200, 200)
}

.button2{
    background-color: rgb(67, 64, 64);
    color:rgb(219, 227, 227);
}

.button2:hover{
    background-color:rgb(20, 20, 20);
    cursor: pointer;
}




button{
    position: relative;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
 }

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  /* final score card css */
  body{
    width:100%
  }
  .scoreContainer{
    border-radius:15px;
    width:85%;
    margin-inline:auto;
    min-height:400px;
    background-color: rgb(133, 168, 233);
    padding:5px;
  }

  .scoreContainer > h1{
    text-align: center;
    font-size: 45px;
    color:rgb(13, 91, 235);
    text-shadow: 0px 0px 5px  rgb(30, 213, 246);
    
  }

  .dataContainer ,.btndiv{
    
    width: 55%;
    margin-inline:auto;
    

  }
  
  .dataContainer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 3px;
    height: 65px;
    padding:6px;
    margin-top:50px;
    
  }
  .wpm, .accuracy{
    font-size: 30px;
    font-weight: 600;
    color: rgb(245, 244, 231);
    text-shadow: 0px 0px 5px  rgb(13, 91, 235);
    background-color: rgb(89, 140, 235);
    padding:15px 20px;
    border-radius:10px
  }

  .btndiv{
    margin-top: 80px;
    display:flex;
    justify-content: center;
    
  }
  .btndiv > button{
    font-size: 30px;
    font-weight: 600;
    padding:15px 20px;
    border-radius:10px;
    border:0px;
    background-color: rgb(89, 140, 235);
    color: rgb(245, 244, 231);
    box-shadow: inset 0px 0px 10px rgb(13, 91, 235);
    
    animation: bloom 0.6s ease-in-out 0s infinite alternate;
  }

  @keyframes bloom {
    from{
      text-shadow: 0px 0px 0px  rgb(13, 91, 235);
      box-shadow:  0px 0px 0px rgb(30, 213, 246);
    }
    to{
        text-shadow: 1px 1px 10px  rgb(13, 91, 235);
        box-shadow:  0px 0px 10px rgb(30, 213, 246);
    }
  }